@{
    ViewData["Title"] = "Page Not Found";
    Layout = "_ErrorLayout";
}

<div class="d-flex align-items-center bg-skew bg-skew-primary text-white min-vh-75 overflow-hidden">
    <div class="container">
        <div class="col-lg-8 text-center mx-auto">
            <h1 class="display-4 mb-5">Page not found</h1>
            <a class='btn btn-light btn-sm rounded-pill' href='/'>Go to homepage</a>
        </div>
    </div>
</div>