@{
    ViewData["Title"] = "Page Not Found";
    Layout = "_ErrorLayout";
}

<div class="d-flex align-items-center bg-skew bg-skew-primary text-white min-vh-75 overflow-hidden">
    <div class="container">
        <div class="col-lg-8 text-center mx-auto">
            <h1 class="display-4 mb-5">Page not found</h1>
            <a class='btn btn-light btn-sm rounded-pill' href='/'>Go to homepage</a>
        </div>
    </div>
</div>

<div class="bg-skew bg-skew-light">    
    <!-- Call to action -->
    <div class="container text-center py-5">
        <h2 class="mb-4">Are you ready to start?</h2>
        <div class="mb-4">
            <a class="btn btn-primary rounded-pill" href="/trainings" role="button">Browse Training Topics</a>
        </div>
        <a class='link-cta' href='/contact-me'>Contact us</a>
    </div>

</div><!-- end bg-skew -->