@model Comment

@{
    ViewData["Title"] = "Edit Comment";
}

<h1>Edit Comment</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="EditComment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id"/>
            <div class="mb-3">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="EmailAddress" class="control-label"></label>
                <input asp-for="EmailAddress" class="form-control type="email" />
                <span asp-validation-for="EmailAddress" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="CommentMessage" class="control-label"></label>
                <textarea asp-for="CommentMessage" class="form-control"></textarea>
                <span asp-validation-for="CommentMessage" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

