@{
    ViewBag.Title = "Comments";
}

<h2>Comments</h2>

<button class="btn btn-info" type="button" onclick="return reloadDataTable();"><i class="glyphicon glyphicon-refresh"></i>Refresh</button>

<br />
<br />



<table id="dataTable" class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>Name</th>
            <th>BlogPost</th>
            <th>IsApproved</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
                "info": true,
                "lengthMenu": [[5, 25, 50], [5, 25, 50]],
                "ajax": {
                    "url": "/Admin/Comments/GetCommentsAsJson",
                    "type": "POST",
                    "datatype": "json"
                },
                //"pagingType": "full_numbers",
                "responsive": true,
                "columns": [
                    { "data": "Name", "name": "Name" },
                    { "data": "BlogPost", "name": "BlogPost" },
                    { "data": "IsApproved", "name": "IsApproved" },
                    {
                        "data": "Actions",
                        "render": function (data, type, row, meta) {
                            data =
                                '<div class="dropdown">' +
                                '<button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">' +
                                'Actions' +
                                '</button>' +
                                '<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
                                '<li><a class="dropdown-item" href="/admin/Comments/editcomment/' + row.Id + '" title="Edit">Edit</a></li>' +
                                '<li><a class="dropdown-item" href="/admin/Comments/deletecomment/' + row.Id + '" title="Delete">Delete</a></li>' +
                                '<li><a class="dropdown-item" href="#" onclick="return ApproveComment(' + row.Id + ')">Approve</a></li>' +
                                '<li><a class="dropdown-item" href="#" onclick="return DisApproveComment(' + row.Id + ')">Dis-Approve</a></li>' +
                                '</ul>' +
                                '</div>';
                            return data;
                        }
                    }
                ],
                "serverSide": "true",
                "order": [0, "desc"],
                "processing": "true"
            });
        });

        function reloadDataTable() {
            var employeeTable = $("#dataTable").DataTable();
            employeeTable.ajax.reload();
        }

        function ApproveComment(id) {
            $.ajax({
                type: "POST",
                url: "/Admin/Comments/ApproveComment/" + id,
                data: JSON.stringify(id),
                success: function (response) {
                    alert(response.Message);
                    reloadDataTable();
                }
            });
        }

        function DisApproveComment(id) {
            $.ajax({
                type: "POST",
                url: "/Admin/Comments/DisApproveComment/" + id,
                data: JSON.stringify(id),
                success: function (response) {
                    alert(response.Message);
                    reloadDataTable();
                }
            });
        }

    </script>
}