@model string

<footer class="pt-5">
    <div class="container">
        @Html.Raw(Model)
        <div class="d-flex flex-column flex-sm-row justify-content-sm-between align-items-center gap-3 border-top py-3">
            <div class="small"><a href="/" target="_blank" rel="noopener">ASP.NET Core Blog System</a> &copy; @DateTime.Now.Year </div>
            <ul class="list-inline mb-0">
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="#"><i class="fab fa-twitter m-auto" aria-hidden="true"></i><span class="sr-only">Twitter</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="#"><i class="fab fa-github m-auto" aria-hidden="true"></i><span class="sr-only">Facebook</span></a>
                </li>
                <li class="list-inline-item">
                    <a class="icon icon-sm icon-secondary" href="#"><i class="fab fa-linkedin-in m-auto" aria-hidden="true"></i><span class="sr-only">Linkedin</span></a>
                </li>
            </ul>
        </div>
    </div>
</footer>

