@{
    ViewBag.Title = "Contacts";
}

<h2>Contacts</h2>

<button class="btn btn-info" type="button" onclick="return reloadDataTable();"><i class="glyphicon glyphicon-refresh"></i>Refresh</button>

<br />
<br />

<table id="dataTable" class="table table-bordered table-hover table-responsive">
    <thead>
        <tr>
            <th>FullName</th>
            <th>Email</th>
            <th>MobileNumber</th>
            <th>Location</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>

@section Scripts{
    <script>
        $(document).ready(function () {
            $("#dataTable").DataTable({
                "info": true,
                "lengthMenu": [[5, 25, 50], [5, 25, 50]],
                "dom": 'Blfrtip',
                "buttons": [
                    'copy', 'csv', 'excel', 'pdf', 'print'
                ],
                "ajax": {
                    "url": "/Admin/Contacts/GetContactsAsJson",
                    "type": "POST",
                    "datatype": "json"
                },
                //"pagingType": "full_numbers",
                "responsive": true,
                "columns": [
                    { "data": "FullName", "name": "FullName" },
                    { "data": "Email", "name": "Email" },
                    { "data": "MobileNumber", "name": "MobileNumber" },
                    { "data": "Location", "name": "Location" },
                    {
                        "data": "Actions",
                        "render": function (data, type, row, meta) {
                            data = '<div class="dropdown">' +
                                '<button class="btn btn-primary dropdown-toggle btn-sm" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">' +
                                'Actions' +
                                '</button>' +
                                '<ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">' +
                                '<li><a class="dropdown-item" href="/admin/contacts/Delete/' + row.Id + '" title="Delete">Delete</a></li>' +
                                '</ul>' +
                                '</div>';
                            return data;
                        }
                    }
                ],
                "serverSide": "true",
                "order": [0, "desc"],
                "processing": "true"
            });
        });

        function reloadDataTable() {
            var employeeTable = $("#dataTable").DataTable();
            employeeTable.ajax.reload();
        }


    </script>
}